@using Backend.Models
@rendermode InteractiveServer
<div class="transition-transform duration-300 ease-in-out transition-transform duration-300 ease-in-outrelative @(isHidden ? "" : "scale-105 z-10")" @onmouseover="() => isHidden = false" @onmouseleave="() => isHidden = true">

    <div class="max-w-sm w-full rounded-t-lg shadow-sm dark:bg-grey-800 dark:border-grey-700">

        <div class="relative w-full">
            <figure class="w-full">
                @if (FileDataUrl == null)
                {
                     <p>Loading image...</p>
                }
                else
                {
                    <img src="@FileDataUrl" alt="@imageAlt" class="w-full object-cover @(isHidden ? "rounded-lg" : "rounded-t-lg") shadow-md" />
                }
            </figure>

           
        </div>

    </div>


    @if (!isHidden)
    {
        <div class="w-full max-w-sm pt-4 bg-white absolute top-100 left-0 rounded-b-lg z-10">
            <h1 class="p-2 text-xl font-bold">@clothing.Name</h1>
            <div class="w-full">
                <ul class="w-full space-y-2">
                    <li class=" p-2 rounded-lg w-full">Category: @clothing.Category</li>
                    <li class=" p-2 rounded-lg w-full">Colour: @clothing.Colour</li>
                    <li class=" p-2 rounded-lg w-full">Season: @clothing.Season</li>
                    <li class=" p-2 rounded-lg w-full">Occasion: @clothing.Occasion</li>
                    <li class=" p-2 rounded-lg w-full">Brand: @clothing.Brand</li>
                </ul>
            </div>
        </div>

        <button class="absolute top-4 right-4 bg-black/50 hover:bg-black text-white px-4 py-2 rounded-[50%] w-[25px] h-[30px] text-center">
        </button>
    }

</div>

<style>
    .item-container{
        width: 10rem;
        height: auto;
    }
</style>

@code {

    private bool isHidden { get; set; } = true;


    [Parameter]
    public ClothingItem clothing { get; set; }
    public string FileDataUrl { get; set; }
    string imageAlt = string.Empty;
    protected async override Task OnInitializedAsync()
    {

        try
        {
            Console.WriteLine("Image ID " + clothing.ImageId);
            var response = await HttpManager.GetClothingImageById(clothing.ImageId);
            if (response.HasError)
            {
                Console.WriteLine($"Failed to get the image  {response.StatusCode.ToString()}: {response.ErrorMessage}");              

                imageAlt = $"{response.StatusCode.ToString()}: {response.ErrorMessage}";
            }
            else
            {
                FileDataUrl =  response.ResponseObject;
               // Console.WriteLine("Image Base64 string " + FileDataUrl);
                imageAlt = clothing.Name;
                StateHasChanged();
            }

        }
        catch (Exception e)
        {
            imageAlt = $"{e.Message}";
        }
    }

}

